.login-register {
	.btn {
		margin-top: 5px;
	}
}

.login-register-or {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	span {
		font-size: 18px;
		padding: 10px;
	}
}

.treatment-list {
	a {
		transition: background 0.25s linear;
		&:hover, &:focus {
			background-color: RGBA(51, 122, 183, 0.6);
		}
	}
}

.timeline {
	.progress {
		margin-bottom: 5px;
	}
}

.countdown {
	color: #337ab7;
	text-align: center;
}

div.countdown {
	font-size: 4em;
	margin: 20px;
}

h1.countdown {
	font-size: 2.5em;
	margin-top: 0;
}

.reminder {
	text-align: center;
}

.promocode {
	margin-top: 10px;
	font-size: 1.5em;
	text-align: center;
	.btn {
		padding: 5px;
	}
}